html {
    box-sizing: border-box;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: inherit;
}


body {
    margin: 0;
    background-color: #f1f1f1;
}

html,body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

article,aside,details,figcaption,figure,footer,menu,nav,section {
    display: block;
}

header {
    display: flex; /* Enables CSS flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: row;
    color: black; 
    font-size: 1.5rem; 
    Padding: 2rem 1rem;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h1 {
    font-size: 36px;
}


h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}


.cb-content {
    margin-left: auto;
    margin-right: auto;
}

.cb_main {
    display: flex; /* Enables CSS flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column;   
}

.cb_theMessage {
    height: 10rem;
    font-family: cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.cb_informationBrief {
    text-align: center;
}

.cb-col {
    width: 99%;
    float: left;
}

.cb-width-66 {
    width: 66.66666%
}

.cb-column_flex {
    display: flex; /* Enables CSS flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column;
    flex: 10;
}

.cb-row_flex {
    flex: 6;
}

.cb-card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem;
    color: #000;
    background-color: #fff;
}
.cb-padding-16 {
    padding: 0.01em 16px;
}

.cb-button {
    color: #000;
    background-color: #fff;
    padding: 12px 24px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font: inherit;
    margin: 0;
}

.cb-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

